h2 {
	font-family: Verdana;
	color:#00B9FF;
	text-align: center;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Titulo {
	color: black;
	font-size: 25px;	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Marca {
	color: gray;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Precio {
	color: blue;
	font-size: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;	
	margin-top: 10px;
}
.Producto{
	float: left;	
	margin-top: 50px;
    margin-right: 35px;
	padding: 15px;
}
.Producto:hover{
	display: block;		
	border:2px;
 	-webkit-transform: scale(0.8);
  	-ms-transform: scale(0.8);
  	transform: scale(1.07);
  	box-shadow: inset 0 0 0 3px rgb(0, 119, 255);
}
.FotoProducto{
	width: 200px;
	position: relative;
}
.ProductosDestacados{	
	margin: auto;
	width: 1100px;
}
.DatosProductos{
	margin-top: 20px;
}
img{
	width: 200px;
}