h2 {
	font-family: Verdana;
	color:black;
	text-align: center;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
	clear:left;
	background-color:#E2F8FF;
}
.banner{
	width: 100%;
	height: auto;
}

.Titulo {
	color: black;
	font-size: 25px;	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Marca {
	color: gray;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Precio {
	color: blue;
	font-size: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;	
	margin-top: 10px;
}
.Producto{
	float: left;	
	margin-top: 50px;
    margin-right: 35px;
	padding: 15px;
	background-color: white;
}	
.Producto:hover{
 	-webkit-transform: scale(0.8);
  	-ms-transform: scale(0.8);
  	transform: scale(1.07);
	box-shadow: 0.1px 10px 18px #888888;
}
.FotoProducto {
	width: 200px;
	vertical-align: middle;
}
.DivFoto {
	width: 200px;
	height: 200px;
	vertical-align: center;
}
.ProductosDestacados{	
	margin: auto;
	width: 1100px;
}
.DatosProductos{
	border-top: blue solid 1px;
	padding-top: 20px;
	margin-top: 20px;
}
.Aside{
	clear:left
}

/*Encabezado*/
.search{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	size: 50px;
    border-radius: 10px;
	width: 300px;
	height: 40px;
}
.logo{
	width: 200px;
	height: auto;
	margin-top: 15px;
	margin-left:17px;
	text-align: center;
}
.encabezado{
	background-color: #00B9FF; 	
	width: 100%;
}
.navegador *{	
	text-decoration: none;
	color: white;
	font-size: 33px;
	list-style: none;
	display: inline;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navegadorEncabezado *{
	text-align: center;
	vertical-align: auto;
	width: 100%;
	height: 55px;
	background-color: rgb(84, 207, 252);
}
.Telefono{
	text-align: right;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	text-align: left;
}
.logo{
	width: 200px;
	height: auto;
	text-align: left;
	margin-top: 15px;
	margin-left:17px;
}