<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGCS</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/Layout.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <nav class="row sticky-top">
        <div class="bg-danger w-100">
            <a href="index.html">
                <h1 class="pl-5 offset-md-1 text-white float-left">AGCS</h1>
            </a>
            <div class="offset-md-9 pt-2">
                <span class="text-white" id="empresa">Empresa</span>
                <span class="ml-2 mr-2 text-white">|</span>
                <span class="text-white" id="usuario">Usuario</span>
                <span class="ml-2 mr-2 text-white">|</span>
                <img src="~/images/icon-user.png" alt="icono-User" class="w-10 mr-5">
            </div>
        </div>
    </nav>



        <aside class=" h-750  bg-dark w-5 float-left text-center">
            <a href=""><img class="mt-4 w-60" src="~/images/camion.png" alt=""></a><br>
            <a href=""><img class="mt-4 w-60" src="~/images/dinero.png" alt=""></a><br>
            <a href=""><img class="mt-4 w-60" src="~/images/clientes.png" alt=""></a><br>
            <a href=""><img class="mt-4 w-60" src="~/images/proveedores.png" alt=""></a><br>
            <a href=""><img class="mt-4 w-60" src="~/images/diagrama.png" alt=""></a><br>
            <a href=""><img class="mt-4 w-60" src="~/images/ajustes.png" alt=""></a>
        </aside>

    @RenderBody()

    <footer>
        <p>&copy; 2019 - AGCS</p>
    </footer>


    <environment include="Development">

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
