@{
    ViewData["Title"] = "Home Page";
}
<p>
    Learn how to build ASP.NET apps that can run anywhere.
    <a class="btn btn-default" href="@Url.Action("Pruebas", "Backend")">
        Pruebas
    </a>
</p>
<p>
    Learn how to build ASP.NET apps that can run anywhere.
    <a class="btn btn-default" href="@Url.Action("ABMClientes", "Backend")">
        ABMClientes
    </a>
</p>