.w-5{
    width:5%;
}
.w-8 {
    width: 8%;
}

.w-10 {
    width: 10%;
}

.w-12 {
    width: 12%;
}

.w-16 {
    width: 16%;
}

.w-20 {
    width: 22%;
}
.w-60{
    width: 60%;
}
.h-750{
    height: 1150px;
}

.UpToFooter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}